/*основні налаштування та скидання*/
body {
  font-family: "Montserrat", sans-serif;
  color: #434455;
  background-color: #fff;
}

/*#region common*/

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  max-width: 320px;
  padding: 0 16px;
  margin: 0 auto;
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

@media screen and (min-width: 1158px) {
  .container {
    max-width: 1158px;
    padding: 0 15px;
  }
}
/*#endregion common*/

/*#region header */
/* Mobile - styles */
.container-header {
  display: flex;
  align-items: center;
  gap: 138px;
  padding: 20px auto;
}
.header-nav {
  display: block;
}

.logo {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.11;
  letter-spacing: -0.03em;
  color: #111;
}
.logo-part {
  font-style: italic;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.11;
  letter-spacing: -0.03em;
  color: #111;
}
.header-nav-link {
  display: flex;
}
.header-open-menu {
}

.header-menu,
.header-social-menu {
  display: none;
}
.header-menu-item {
}
.header-menu-link {
}

.header-list-item {
}
.header-list-link {
}
/*#endregion */

/*#region Hero*/
.section {
}
.section-hero {
  background-image: linear-gradient(
      rgba(17, 17, 17, 0.4),
      rgba(17, 17, 17, 0.4)
    ),
    url(./images/hero/hero-bg_mob@2x);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin: 0 auto;
  max-width: 320px;
}
.container {
}
.container-hero {
}
.title-hero {
  padding-top: 395px;
  padding-bottom: 32px;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: -0.03em;
  color: #fff;
}
.button {
  border: none;
}
.button-wrapper {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: row;
  gap: 14px;
  padding-bottom: 32px;
}
.btn-hero {
  border-radius: 100px;
  width: 120px;
  height: 41px;
  background: #fd9222;
  gap: 14px;
  font-weight: 600;
  font-size: 14px;
  color: #fff;
}
.btn-hero-made {
  background-color: transparent;
  border: 1px solid #fff;
  border-radius: 100px;
  /* padding: 12px 28px; */
  width: 159px;
  height: 41px;
}
.scroll-down {
  display: inline-flex;
  align-items: center;
  gap: 14px;
  padding-bottom: 20px;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: -0.03em;
  color: #fff;
  transition: 0.3s ease-in;
  transition-property: color;
}

hero-img {
  width: 28px;
  height: 28px;
  transform: rotate(-90deg);
}
/*#endregion Hero*/

/*#region Benefits*/
.section-benefits {
  background: #1e1823;
  margin: 0;
}
.container {
  padding: 20px;
}

.benefits-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.benefits-item {
}

.benefits-icon {
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 365px;
  width: 62px;
  height: 62px;
}

.benefits-caption {
  font-weight: 600;
  font-size: 18px;
  color: #fff;
}
.benefits-text {
  font-weight: 400;
  font-size: 14px;
  letter-spacing: -0.02em;
  color: rgba(255, 255, 255, 0.7);
}

/*#endregion Benefits*/

/*#region*/

/*#endregion*/

/*#region*/

/*#endregion*/

/*#region*/

/*#endregion*/
